@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRFontM";
  src: url("/fonts/Abi_Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRFontB";
  src: url("/fonts/AbiÙ€Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IRFontM", "IRFontB", Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
